h1 {
  color: #33a0df;
}

.profile-item h2 {
  color: #33a0df;
}

.profile-social-inputs .fa-twitter {
  color: #38a1f3
}

.profile-social-inputs .fa-facebook {
  color: #3b5998
}

.profile-social-inputs .fa-instagram {
  color: #3f729b;
}

.profile-social-inputs .fa-youtube {
  color: #c4302b;
}

.profile-social-inputs .fa-linkedin {
  color: #0077b5;
}

.dashboard-actions .fa-user, .dashboard-actions .fa-black-tie, .dashboard-actions .fa-graduation-cap {
  color: #33a0df;
}